@model GruppeInnlevering1.Models.Samle

@{
    ViewBag.Title = "Bekrefte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.17.0/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.10/jquery.validate.unobtrusive.js"></script>

<script src="~/Scripts/jquery-3.3.1.js"></script>
<script>
    $(function () {


        var antall1 = @Model.antall1;
        var antall2 = @Model.antall2;
        var antall3 = @Model.antall3;
           
     







        var sum = 0;
       var lengde =@Model.stasjonIdTil-@Model.stasjonIdFra;

        if (antall1 !== 0) {
            sum += antall1 * @Model.Studentpris ;
        }
        if (antall2 !== 0) {
            sum += antall2 * @Model.Voksenpris ;
        }
        if (antall3 !== 0){
        sum += antall3 * @Model.BarnPris  ;
        }

        sum = sum *lengde;






        $("#TotalPris").html(sum);




    });

     $(function () {
        $(document).click(function () {
            $('form').validate();

            if ($('form').valid()) {
                alert("validate");
            } else {
                alert("invalid");
            }
        });
    })





</script>

<h2>Din Besttiling</h2>

<div>
    <h4>Du har bestilt følgende</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fra Stasjon:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fra)
        </dd>

        <dt>
            Til Stasjon:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Til)
        </dd>

        <dt>
           Avgang:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tidFra)
        </dd>

        <dt>
            Ankomst
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tidTil)
        </dd>

        <dt>
           DatoTur:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dato)
        </dd>



        <dt>
            AntallStudent
        </dt>

        <dd>
            @Html.DisplayFor(model => model.antall1)
        </dd>

        <dt>
            AntallVoksen
        </dt>

        <dd>
            @Html.DisplayFor(model => model.antall2)
        </dd>

        <dt>
            antall barn
        </dt>

        <dd>
            @Html.DisplayFor(model => model.antall3)
        </dd>

        <dt>
            TotalPris
        </dt>

        <dd id="TotalPris" name="pris">

        </dd>
        @if (Model.datoTilbake.GetHashCode()!=0)
        {
            <dt>
               DatoRetur:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.datoTilbake)
            </dd>
}


    </dl>
</div>

<div>
    <form method="post" action="/Default/Betaling">
        
        @Html.AntiForgeryToken()

        <div class="form-horizontal">

            <div class="form-group">
                @Html.LabelFor(model => model.Telefonnummer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Telefonnummer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Telefonnummer, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Kortnummer, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Kortnummer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Kortnummer, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.Cvc, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Cvc, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Cvc, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Bekreft Kjøp" class="btn btn-success" />
                </div>
            </div>

        </div>
    </form>
</div>
<p>
 |
    @Html.ActionLink("Back to List", "Index")


</p>
