@model List<BilletV>

@{
    ViewBag.Title = "Billter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .table-striped {
        background-color: #e1ede0;
        box-shadow: 0 1px 1px 0 #363636;
    }

    .table > thead > tr > th {
        border-bottom: none;
    }

    a:hover, .glyphicon-arrow-left:hover {
        text-decoration: none;
        color: lightsteelblue;
    }

    a:active {
    }

    td,tr {
        width: 2%;
    }

    b {
        color: #363636;
    }

    .btn-danger {
        box-shadow: 0 1px 1px 0 #363636;
    }

    .btn-default {
        box-shadow: 0 1px 1px 0 #808080;
    }
</style>
<h2>Billetter</h2>

<a href="~/Default/Login" class="glyphicon glyphicon-arrow-left" style="font-size:x-large;"></a>
<h2 style="font-weight:600;margin-bottom:3%;">Billetter</h2>

<p>
    <a href="" class="btn btn-default glyphicon glyphicon-new-window" style="text-shadow:0 1px 1px 0 #363636;">
        <b style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:medium;"></b>
    </a>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
               BilletID
            </th>
            <th>
                Type
            </th>
            <th>
                DatoTur
            </th>
            <th>
                DatoreTur
            </th>
            <th>
                Pris
            </th>
            <th>
                Fra
            </th>
            <th>
                Til
            </th>
            <th>
                Telefon
            </th>
            <th>
                Email
            </th>
            <th>
                Kortnr
            </th>
            <th>
                CvC
            </th>
            <th>
                Gyldig
            </th>
            <th class="glyphicon glyphicon-edit" style="font-size:medium;"></th>

        </tr>
    </thead>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.BilletId)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Type)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DatoTur)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DatoRetur)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Pris)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AvgangFra)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.AvgangTil)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Telefonnummer)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Kortnummer)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cvc)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.gyldig)
    </td>


    <td>
        <!--<a href="/Default/Endrebillett?id=@item.BilletId" class="btn btn-default">Endre</a>-->
        <a href="/Default/SlettBillett?id=@item.BilletId" class="btn btn-danger">Slett</a>
    </td>

</tr>
    }

</table>
<a href="~/Default/Billter" class="glyphicon glyphicon-arrow-up" style="font-size:x-large;">
    <b style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:large;">&nbsp;Til toppen av siden</b>
</a>
