@model GruppeInnlevering1.Models.BilletV

@{
    ViewBag.Title = "Endrebillett";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .form-control {
        border: inset 1px rgba(0,0,0,0.16);
        box-shadow: 0 0 0 1px #9d9d9d;
    }

    .btn-default {
        color: white;
        box-shadow: 0 1px 1px 1px rgba(0,0,0,0.50), 0 1px 1px 0 rgba(0,0,0,0.16);
        border-color: darkseagreen;
        border-radius: 4px;
        background-image: linear-gradient(to bottom right, #72946f,darkseagreen);
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: medium;
        font-weight: 500;
        text-shadow: 1px 1px 1px #333;
    }

        .btn-default:hover {
            background-image: linear-gradient(to bottom right, #6d896b,#83ac80);
            color: #e8e8e8;
            border-color: #83ac80;
            box-shadow: 0 1px 1px 1px rgba(0,0,0,0.60), 0 1px 1px 0 rgba(0,0,0,0.26);
        }

    a:hover, .glyphicon-arrow-left:hover, .glyphicon-tasks:hover {
        text-decoration: none;
        color: lightsteelblue;
    }

    p {
        font-size: x-small;
        float: right;
    }

    input:focus {
        outline: 0;
    }
</style>
<a href="~/Default/Billter" class="glyphicon glyphicon-arrow-left" alt="Tilbake" style="font-size:x-large; padding-right:18px;text-align:center;"><br /><p style="">Tilbake</p></a>
<a href="~/Default/Login" class="glyphicon glyphicon-tasks" alt="Kontrollpanel" style="font-size:x-large;text-align:center;"><br /><p style="">Kontrollpanel</p></a>
<h2 style="font-weight:600;margin-bottom:3%;">Endre billett</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Billett</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })



        <div class="form-group">
            @Html.LabelFor(model => model.Type, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Type, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Type, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DatoTur, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DatoTur, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DatoTur, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DatoRetur, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DatoRetur, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DatoRetur, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Pris, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pris, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Pris, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AvgangFra, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AvgangFra, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AvgangFra, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AvgangTil, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AvgangTil, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AvgangTil, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Telefonnummer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefonnummer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefonnummer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Kortnummer, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Kortnummer, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Kortnummer, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Cvc, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Cvc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cvc, "", new { @class = "text-danger" })
            </div>
        </div>
            <div class="form-group">
                @Html.LabelFor(model => model.gyldig, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.gyldig, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.gyldig, "", new { @class = "text-danger" })
                </div>
            </div>
          

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Endre" class="btn btn-default" />
                </div>
            </div>
        </div>
}
