@model List<GruppeInnlevering1.Models.Avgang>
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <form method="post" action="/Default/Bekrefte">
        <div>
            <h1>Se Avganger</h1>
            <button type="button" class="btn btn-outline-secondary">Endre søket</button>
        </div>
        <div>

        </div>
        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Fra</th>
                        <th scope="col">Til</th>
                        <th scope="col">Avgang</th>
                        <th scope="col">Ankomst</th>
                        <th scope="col"> </th>

                    </tr>
                </thead>
                <tbody>


                    <tr>


                        <td>

                            @Html.DisplayFor(modelItem => Model[0].Stasjon.StasjonNavn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[1].Stasjon.StasjonNavn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[0].Tid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[1].Tid)
                        </td>
                    

                        <td><a class="btn btn-info" href="@Url.Action("Bekrefte", "Default")?FraStasjon=@Model[0].Stasjon.StasjonNavn&TilStasjon=@Model[1].Stasjon.StasjonNavn&Avgang=@Model[0].Tid &Ankomst=@Model[1].Tid&StasjonfraId=@Model[0].AvgangId&StasjonTilId=@Model[1].AvgangId">Velg</a></td>

                    </tr>




                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => Model[2].Stasjon.StasjonNavn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[3].Stasjon.StasjonNavn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[2].Tid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => Model[3].Tid)
                        </td>



                        <td>
                        <td><a class="btn btn-info" href="@Url.Action("Bekrefte", "Default")?FraStasjon=@Model[2].Stasjon.StasjonNavn&TilStasjon=@Model[3].Stasjon.StasjonNavn&Avgang=@Model[2].Tid &Ankomst=@Model[3].Tid&StasjonfraId=@Model[0].AvgangId&StasjonTilId=@Model[1].AvgangId">Velg</a></td>








                    </tr>


                </tbody>
            </table>


        </div>
    </form>
</div>



