@model IEnumerable<GruppeInnlevering1.Models.Avgang>
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <form method="post" action="">
    <div>
        <h1>Se Avganger</h1>
        <button type="button" class="btn btn-outline-secondary">Endre søket</button>
    </div>
    <div>

    </div>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Fra</th>
                    <th scope="col">Til</th>
                    <th scope="col">Avgang</th>
                    <th scope="col">Ankomst</th>
                    <th scope="col"> </th>

                </tr>
            </thead>
            <tbody>
                @{ var list = Model.ToList();
                
                    <tr>
                     

                        <td>
                            @Html.DisplayFor(modelItem=>list[0].Stasjon.StasjonNavn)
                        </td>
                        <td>
                         @Html.DisplayFor(modelItem=>list[1].Stasjon.StasjonNavn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => list[0].Tid)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => list[1].Tid)
                        </td>
                        
                        <td><button type="button" class="btn btn-info">Velg</button></td>

                    </tr>
              }
                
             @{ 

                 <tr>
                                  <td>
                                      @Html.DisplayFor(modelItem => list[2].Stasjon.StasjonNavn)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(modelItem => list[3].Stasjon.StasjonNavn)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(modelItem => list[2].Tid)
                                  </td>
                                  <td>
                                      @Html.DisplayFor(modelItem => list[3].Tid)
                                  </td>











                 </tr>
             }   
             
                </tbody>
        </table>

    </div>
</div>



