@model List<GruppeInnlevering1.Models.Avgang>
@{
    ViewBag.Title = "Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (Model[0].Stasjon.StasjonId < @Model[1].Stasjon.StasjonId)
{

    <div class="container">
        <a href="/Default/index" class="btn" style="float:right;background-color:darkseagreen;font-size:large;font-weight:300;color:#607e5d;border:1px solid #607e5d;">Endre søket</a>
        <form method="post" action="/Default/Bekrefte" class="table">

            <div>
                <h1>Se Avganger</h1>

            </div>
            <div>

            </div>
            <div>
                <centre>
                    <h3 scope="col"> Tur</h3>
                </centre>
                <table class="table table-hover">
                    <thead>

                        <tr>

                            <th scope="col">Fra</th>
                            <th scope="col">Til</th>
                            <th scope="col">Avgang</th>
                            <th scope="col">Ankomst</th>
                            <th scope="col"> </th>

                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.Count < 5)
                        {
                            <tr class="restr">
                                <td>

                                    @Html.DisplayFor(modelItem => Model[0].Stasjon.StasjonNavn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model[1].Stasjon.StasjonNavn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model[0].Tid)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model[1].Tid)
                                </td>


                                <td><a style="background-color:darkseagreen;font-size:medium;font-weight:300;color:white;border:1px solid #607e5d;" class="btn" href="@Url.Action("Bekrefte", "Default")?FraStasjon=@Model[0].Stasjon.StasjonNavn&TilStasjon=@Model[1].Stasjon.StasjonNavn&Avgang=@Model[0].Tid &Ankomst=@Model[1].Tid&StasjonfraId=@Model[0].AvgangId&StasjonTilId=@Model[1].AvgangId">Velg</a></td>

                            </tr>
                        }
                        @if (Model.Count > 4)
                        {
                            <tr class="restr">


                                <td>

                                    @Html.DisplayFor(modelItem => Model[0].Stasjon.StasjonNavn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model[1].Stasjon.StasjonNavn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model[0].Tid)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model[1].Tid)
                                </td>


                                <td><a style="background-color:darkseagreen;font-size:medium;font-weight:300;color:white;border:1px solid #607e5d;" class="btn" href="@Url.Action("Bekrefte", "Default")?FraStasjon=@Model[0].Stasjon.StasjonNavn&TilStasjon=@Model[1].Stasjon.StasjonNavn&Avgang=@Model[0].Tid &Ankomst=@Model[1].Tid&StasjonfraId=@Model[0].AvgangId&StasjonTilId=@Model[1].AvgangId">Velg</a></td>

                            </tr>


                            <tr class="restr">
                                <td>
                                    @Html.DisplayFor(modelItem => Model[2].Stasjon.StasjonNavn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model[3].Stasjon.StasjonNavn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model[2].Tid)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model[3].Tid)
                                </td>
                                <td><a style="background-color:darkseagreen;font-size:medium;font-weight:300;color:white;border:1px solid #607e5d;" class="btn" href="@Url.Action("Bekrefte", "Default")?FraStasjon=@Model[2].Stasjon.StasjonNavn&TilStasjon=@Model[3].Stasjon.StasjonNavn&Avgang=@Model[2].Tid &Ankomst=@Model[3].Tid&StasjonfraId=@Model[0].AvgangId&StasjonTilId=@Model[1].AvgangId">Velg</a></td>

                            </tr>

                        }
                    </tbody>
                </table>






                <centre><h3 scope="col"> Retur</h3></centre>
                <table class="table table-hover">
                    <thead>
                        <tr>

                            <th scope="col">Fra</th>
                            <th scope="col">Til</th>
                            <th scope="col">Avgang</th>
                            <th scope="col">Ankomst</th>
                            <th scope="col"> </th>

                        </tr>
                    </thead>

                    @if (Model.Count > 7)
                    {


                        <tr class="restr">

                            <td>
                                @Html.DisplayFor(modelItem => Model[4].Stasjon.StasjonNavn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model[5].Stasjon.StasjonNavn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model[4].Tid)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model[5].Tid)
                            </td>

                            <td style="width:137px;">
                               
                            </td>




                        </tr>


                    }
                </table>

            </div>

        </form>
    </div>
}
else
{


    <div class="container">
        <a href="/Default/index" class="btn btn-warning">Endre søket</a>
        <form method="post" action="/Default/Bekrefte">
            <div>
                <h1>Se Avganger</h1>
                
            </div>
            <div>

            </div>
            <div>
                <centre>
                    <h1 scope="col"> Tur</h1>
                </centre>
                <table class="table table-hover">
                    <thead>

                        <tr>

                            <th scope="col">Fra</th>
                            <th scope="col">Til</th>
                            <th scope="col">Avgang</th>
                            <th scope="col">Ankomst</th>
                            <th scope="col"> </th>

                        </tr>
                    </thead>
                    <tbody>

                   
                        
                            <tr class="restr">


                                <td>

                                    @Html.DisplayFor(modelItem => Model[0].Stasjon.StasjonNavn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model[1].Stasjon.StasjonNavn)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model[0].Tid)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => Model[1].Tid)
                                </td>



                                <td><a style="background-color:darkseagreen;font-size:medium;font-weight:300;color:white;border:1px solid #607e5d;" class="btn" href="@Url.Action("Bekrefte", "Default")?FraStasjon=@Model[0].Stasjon.StasjonNavn&TilStasjon=@Model[1].Stasjon.StasjonNavn&Avgang=@Model[0].Tid &Ankomst=@Model[1].Tid&StasjonfraId=@Model[0].AvgangId&StasjonTilId=@Model[1].AvgangId">Velg</a></td>

                            </tr>
                        

                      
               </tbody>
             </table>





                <centre><h1 scope="col"> Retur</h1></centre>
                <table class="table table-hover">
                    <thead>
                        <tr>

                            <th scope="col">Fra</th>
                            <th scope="col">Til</th>
                            <th scope="col">Avgang</th>
                            <th scope="col">Ankomst</th>
                            <th scope="col"> </th>

                        </tr>
                    </thead>
                    @if (Model.Count > 2)
                    {
                        <tr class="restr">


                            <td>

                                @Html.DisplayFor(modelItem => Model[2].Stasjon.StasjonNavn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model[3].Stasjon.StasjonNavn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model[2].Tid)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => Model[3].Tid)
                            </td>
                            <td style="width:137px;">
                                
                            </td>
                        </tr>

                    }

                </table>
            </div>

        </form>
    </div>




}















