@model List<avgangs>

@{
    ViewBag.Title = "Strekning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Strekning</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>

        <th>AvgangId</th>
        <th>StasjonId</th>
        <th>Tid</th>
        <th>TogNummer</th>
    </tr>

    @foreach (var item in Model)
    {
<tr>

    <td>
        @item.AvgangId
    </td>

    <td>
        @item.StasjonId
    </td>
    <td>
        @item.Tid
    </td>
    <td>
        @item.TogId
    </td>
    <td>

    <td><a href="/Default/EndreAvgang?id=@item.AvgangId" class="btn btn-primary">Endre</a></td>
    <td><a href="/Default/SlettAvgang?id=@item.AvgangId" class="btn btn-primary">Slett</a></td>
    <!--</td>-->
</tr>
    } 
</table>
