@model List<avgangs>

@{
    ViewBag.Title = "Strekning";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Strekning</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
      
        <th>AvgangId</th>
        <th>StasjonId</th>
        <th>Tid</th>
        <th>TogNummer</th>
    </tr>

@foreach (var item in Model) {
<tr>
    
    <td>
        @Html.DisplayFor(modelItem => item.AvgangId)
    </td>
    
    <td>
        @Html.DisplayFor(modelItem => item.Stasjon)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tid)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tog)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.AvgangId }) |
        @Html.ActionLink("Details", "Details", new { id = item.AvgangId }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.AvgangId })
    </td>
</tr>
}

</table>
